@font-face{
  font-family: font;
  src: url('/Cute_Aurora_demo.ttf');  
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: font;
  font-weight: 400;
  font-style: normal;
}
body {
  background-image: url("/image/hero-bg-icons.svg");
  background-repeat: repeat-y;
  background-size: 100vw 100vh;
  line-height: 1.5;
}

/* common  */
.sans{
  font-family: "Roboto", sans-serif;
}
.fsize{
  font-size: 18px;
}
.linone{
  list-style-type: none;
}

/* selection  */
*::selection{
  background-color: #6953A8;
  color: white;
}

/* hover  */
.nav-link, a ,.footer-link ul li :hover{
  color: #6953A8;
}


/* right-btn's  */
.settings{
  position: fixed;
  top: 20%;
  left: 90%;
}
.home{
  position: fixed;
  top: 80%;
  left: 90%;
}

/* fish */
.fish1{
  position: absolute; 
  top: 90%;
  left: 80%;
  max-width: 13vw;
}
.fish2{
  position: absolute;
  top: -40%;
  left: 0%; 
  max-width: 13vw;
}

#services .service1 p
{
  font-family: "Roboto", sans-serif;
  color:#6C757D;
}
.service-image{
  width:max-content;
  height:fit-content;
}
.temp-bg{
  font-family: "Roboto", sans-serif;
  background-color: #EDDEE6;

}
.img-pic img{
  margin-top:-68px;
}

/* cards */
.card-title ul{
  list-style: none;
}
.card-title ul button{
  font-family: font;
}
.card-text li,.card-text {
  font-family: sans-serif;
}
.card-header{
  background-color: #547794;
  color:#F6F3EE;
}

/* dates */
.dates{
  position: absolute;
  top: -30px;
  left: 20px;
}

/* final page  */
.final ul li{
  list-style: none;
  margin-bottom: 10px;
  position: relative; 
}
.final ul li a{
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: black;
}
.final ul li::before {
  content: ''; 
  background-image: url(/image/caret-down-solid.svg); 
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  transform: rotate(270deg);
  position: absolute; 
  left: -30px;
}
.list-4 ul li::before{
  content:'';
  background-image: none;
}


/* media quires */
@media only screen and (max-width:424px){
  
  .number {
    visibility: hidden;
  }
  .button{
    position: fixed;
    left: 65%;  
    top: 5%;
  }
  .wp{
    position: fixed;
    left: 45%;
    top: 5%;
  }
  .hero-img{
    position: relative;
    left: 5%;
  }
  .settings{
    position: fixed;
    top: 20%;
    left: 85%;
  }
  .home{
    position: fixed;
    top: 80%;
    left: 85%;
  }  
  .fish1{
    position: absolute; 
    top: 105%;
    left: 80%;
    max-width: 20%;
    z-index: 1;
  }
  .fish2{
    position: absolute;
    top: -20%;
    left: 0%; 
    max-width: 25vw;
  }
  

}
/* 426 to 991 */
@media only screen and (min-width: 425px) and (max-width:991px){
  
  .hero-img {
    position: absolute;
    top: 10%;
  }
  .number {
    visibility: hidden;
    padding: 0;
  }
  .button{
    position: fixed;
    left: 85%;  
    top: 5%;
    z-index: 0;
  }
  .wp{
    position: fixed;
    left: 65%;
    top: 5%;
    z-index: -1;
  }
  .hero-img{
    position: relative;
    left: 5%;
  }
  .settings{
    position: fixed;
    top: 20%;
    left: 85%;
  }
  .home{
    position: fixed;
    top: 80%;
    left: 85%;
  }  
  
  
}
/* fish  */
@media only screen and (min-width: 425px) and (max-width:767px){
  .fish1{
    position: absolute; 
    top: 105%;
    left: 80%;
    max-width: 20%;
    z-index: 1;
  }
  .fish2{
    position: absolute;
    top: -20%;
    left: 0%; 
    max-width: 25vw;
  }
}
@media only screen and (min-width: 768px) and (max-width:1024px){
  .fish1{
    position: absolute; 
    top: 100%;
    left: 80%;
    max-width: 15vw;
    z-index: 1;
  }
  .fish2{
    position: absolute;
    top: -35%;
    left: 0%; 
    max-width: 15vw;
  }
}


